<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxtech.appdemo.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxtech.appdemo.entity.User">
        <id column="id" property="id"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        del_flag,
        create_date,
        update_date,
        id, name, age, gender, address, head_img, amount
    </sql>

    <select id="queryPage" resultType="com.lxtech.appdemo.entity.User">
        select * from u_user
        <where>
            <if test="user.name !=null and user.name != ''">
                name = #{user.name}
            </if>
        </where>
    </select>

    <select id="queryUserinfoCount" resultType="int">
        select count(*) from test
    </select>


</mapper>